- 정형 데이터 => 관계형 데이터베이스 관리 시스템(RDBMS)
- 여러가지 테이블 존재 - 마스터 데이터 + 로그 데이터 + 설명 데이터 등

In [3]:
import sqlite3
import pandas as pd

In [4]:
connection = sqlite3.connect('./sqlite/chinook.db')
query = "SELECT * FROM sqlite_master" ##SELECT : data select## sQL grammar
##SELECT (Call) INSERT(Add) UPDATE DELETE(Not often use)
database_table = pd.read_sql_query(query, connection)

In [ ]:
database_table['sql'] ##INDEX

In [ ]:
query2 = "SELECT * FROM 'customers'"
database_customers = pd.read_sql_query(query2, connection)

In [ ]:
query3 = "SELECT * FROM 'invoices'"
database_invoices = pd.read_sql_query(query3, connection)

query4 = "SELECT * FROM 'invoices' WHERE BillingCountry='Germany'" ## WHERE
database_invoices2 = pd.read_sql_query(query4, connection)
database_invoices2

In [6]:
connection = sqlite3.connect('./sqlite/chinook.db')
curcor = connection.cursor()

In [7]:
curcor.execute("DROP TABLE IF EXISTS tblAddr")
curcor.execute("""CREATE TABLE tblAddr
                (name CHAR(16) PRIMARY KEY, Phine CHAR(16), addr TEXT)""")

In [8]:
curcor.execute("INSERT INTO tblAddr VALUES ('김상형', '123-4567', '오산')")
curcor.execute("INSERT INTO tblAddr VALUES ('한경은', '444-1004', '수원')")
curcor.execute("INSERT INTO tblAddr VALUES ('한주완', '143-1092', '대전')")

In [9]:
connection.commit()

In [13]:
xdata = curcor.execute("SELECT * FROM tblAddr")
table = curcor.fetchall()
for i in table :
    print("Name : %s, Phone : %s, Address : %s" % i)

Name : 김상형, Phone : 123-4567, Address : 오산
Name : 한경은, Phone : 444-1004, Address : 수원
Name : 한주완, Phone : 143-1092, Address : 대전

In [8]:
curcor.execute("UPDATE tblAddr SET addr = '제주도' WHERE name = '김상형'")

In [9]:
curcor.execute("SELECT * FROM tblAddr")
table = curcor.fetchall()
for i in table :
    print("Name : %s, Phone : %s, Address : %s" % i)

Name : 김상형, Phone : 123-4567, Address : 제주도
Name : 한경은, Phone : 444-1004, Address : 수원
Name : 한주완, Phone : 143-1092, Address : 대전